doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="src/style.css")
    body
        section.tours
            .container
                .wrapper
                    .tour-item
                        .tour-item__image.card-1
                            .tour-item__stock
                                span.tour-item__stock-text НОВИНКА
                        .tour-item__wrap-content
                            .tour-item__total-time
                                img.tour-item__icon(src="images/time-icon.svg" alt="icon: time")
                                span.tour-item__time-text 2 часа
                            h3.tour-item__title 
                                            | АКЦИЯ - Обзорная экскурсия по рекам и
                                            | каналам  с остановками Hop on Hop Off 2019
                            ul.list
                                li.list__item
                                    p Билет на целый день
                                li.list__item
                                    p Неограниченное число катаний
                                li.list__item
                                    p 6 остановок у главных достопримечательностей
                                li.list__item
                                    p Ближайший рейс сегодня
                                    ul.times-list
                                            li.times-list__item
                                                span 12:00 
                                            li.times-list__item
                                                span 12:00
                                            li.times-list__item
                                                span 12:00
                                            li.times-list__item
                                                span 12:00
                                            //li.times-list__item
                                                span 12:00
                            .tour-item__price-info
                                .tour-item__price
                                    span.tour-item__price-lot 900
                                    p.tour-item__price-text 1200 р на причале
                                .tour-item__btn
                                    button.tour-item__info-btn(type="submit")
                                        span Подробнее
                    .tour-item
                        .tour-item__image.card-2
                            .tour-item__stock-card-2
                                span.tour-item__stock-text-card-2 НОВИНКА
                        .tour-item__wrap-content
                            .tour-item__total-time
                                img.tour-item__icon(src="images/time-icon.svg" alt="icon: time")
                                span.tour-item__time-text 2 часа
                            h3.tour-item__title 
                                            | АКЦИЯ - Обзорная экскурсия по рекам и
                                            | каналам  с остановками Hop on Hop Off 2019
                            ul.list
                                li.list__item
                                    p Билет на целый день
                                li.list__item
                                    p Неограниченное число катаний
                                li.list__item
                                    p 6 остановок у главных достопримечательностей
                                li.list__item
                                    p Ближайший рейс сегодня
                                    ul.times-list
                                            li.times-list__item
                                                span 12:00 
                                            li.times-list__item
                                                span 12:00
                                            li.times-list__item
                                                span 12:00
                                            li.times-list__item
                                                span 12:00
                            .tour-item__price-info
                                .tour-item__price
                                    span.tour-item__price-lot 2900
                                    p.tour-item__price-text 1200 р на причале
                                .tour-item__btn
                                    button.tour-item__info-btn(type="submit")
                                        span Подробнее
                    .tour-item
                        .tour-item__image.card-3
                            .tour-item__stock-card-3
                                span.tour-item__stock-text-card-3 КРУГЛЫЙ ГОД
                        .tour-item__wrap-content
                            .tour-item__total-time
                                img.tour-item__icon(src="images/time-icon.svg" alt="icon: time")
                                span.tour-item__time-text 2 часа
                            h3.tour-item__title 
                                            | АКЦИЯ - Обзорная экскурсия по рекам и
                                            | каналам  с остановками Hop on Hop Off 2019
                            ul.list
                                li.list__item
                                    p Билет на целый день
                                li.list__item
                                    p Неограниченное число катаний
                                li.list__item
                                    p 6 остановок у главных достопримечательностей
                                li.list__item
                                    p Ближайший рейс сегодня
                                    ul.times-list
                                            li.times-list__item
                                                span 12:00 
                                            li.times-list__item
                                                span 12:00
                                            li.times-list__item
                                                span 12:00
                                            li.times-list__item
                                                span 12:00
                            .tour-item__price-info
                                .tour-item__price
                                    span.tour-item__price-lot 2900
                                    p.tour-item__price-text 1200 р на причале
                                .tour-item__btn
                                    button.tour-item__info-btn(type="submit")
                                        span Подробнее
                    .tour-item
                        .tour-item__image.card-4
                            .tour-item__stock-card-4
                                span.tour-item__stock-text-card-4 НОВИНКА
                        .tour-item__wrap-content
                            .tour-item__total-time
                                img.tour-item__icon(src="images/time-icon.svg" alt="icon: time")
                                span.tour-item__time-text 2 часа
                            h3.tour-item__title 
                                            | АКЦИЯ - Обзорная экскурсия по рекам и
                                            | каналам  с остановками Hop on Hop Off 2019
                            ul.list
                                li.list__item
                                    p Билет на целый день
                                li.list__item
                                    p Неограниченное число катаний
                                li.list__item
                                    p 6 остановок у главных достопримечательностей
                                li.list__item
                                    p Ближайший рейс сегодня
                                    ul.times-list
                                            li.times-list__item
                                                span 12:00 
                                            li.times-list__item
                                                span 12:00
                                            li.times-list__item
                                                span 12:00
                                            li.times-list__item
                                                span 12:00
                            .tour-item__price-info
                                .tour-item__price
                                    span.tour-item__price-lot 2900
                                    p.tour-item__price-text 1200 р на причале
                                .tour-item__btn
                                    button.tour-item__info-btn(type="submit")
                                        span Подробнее
                    .tour-item
                        .tour-item__image.card-5
                            .tour-item__stock--blue
                                span.tour-item__stock-text--blue НОВИНКА
                        .tour-item__wrap-content
                            .tour-item__total-time
                                img.tour-item__icon(src="images/time-icon.svg" alt="icon: time")
                                span.tour-item__time-text 2 часа
                            h3.tour-item__title 
                                            | АКЦИЯ - Обзорная экскурсия по рекам и
                                            | каналам  с остановками Hop on Hop Off 2019
                            ul.list
                                li.list__item
                                    p Билет на целый день
                                li.list__item
                                    p Неограниченное число катаний
                                li.list__item
                                    p 6 остановок у главных достопримечательностей
                                li.list__item
                                    p Ближайший рейс сегодня
                                    ul.times-list
                                            li.times-list__item
                                                span 12:00 
                                            li.times-list__item
                                                span 12:00
                                            li.times-list__item
                                                span 12:00
                                            li.times-list__item
                                                span 12:00
                            .tour-item__price-info
                                .tour-item__price
                                    span.tour-item__price-lot 2900
                                    p.tour-item__price-text 1200 р на причале
                                .tour-item__btn
                                    button.tour-item__info-btn(type="submit")
                                        span Подробнее